@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-timmana: var(--font-timmana);
  --font-psans: var(--font-public-sans);
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: content-box;
}
